.navigation {

  &__checkbox {

  }

  &__button {

  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
  }

  &__nav {

  }

  &__list {

  }

  &__link {

  }

}